@page "/paciente/minhas-consultas"

@using System.Globalization
@using Hackaton.Web.Models.Paciente
@using Hackaton.Web.Services.Autenticacao.Interfaces
@using Hackaton.Web.Services.Consultas.Interfaces

@inject IUsuarioLogadoService UsuarioLogadoService
@inject NavigationManager Navigation
@inject IConsultaService ConsultaService

<PageTitle>Minhas Consultas - Health&Med</PageTitle>

<div class="d-flex align-items-center px-3 py-2 header-bar">
    <div class="me-auto">
        <img src="img/logo-50.png" alt="Health&Med" class="logo-img">
    </div>

    <div class="flex-grow-1 text-center">
        <span class="fw-bold fs-4">Minhas Consultas</span>
    </div>

    <div class="ms-auto d-flex align-items-center">
        <i class="bi bi-person-circle user-icon me-2 icone-usuario-logado"></i>
        <span class="user-name">@NomeDoPaciente</span>
    </div>
</div>

<div class="container mt-4">    

    @if (consultas?.Any() == true)
    {
        <table class="table table-hover table-bordered">
            <thead class="table-light">
                <tr>
                    <th><i class="bi bi-calendar-event"></i> Data</th>
                    <th><i class="bi bi-clock"></i> Hora</th>
                    <th><i class="bi bi-person-vcard"></i> Médico</th>
                    <th><i class="bi bi-heart-pulse"></i> Especialidade</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var consulta in consultas)
                {
                    <tr>
                        <td>@consulta.Dia.ToString("dd/MM/yyyy")</td>
                        <td>@consulta.HoraInicial.ToString("HH:mm")</td>
                        <td>@consulta.NomeDoMedico</td>
                        <td>@consulta.Especialidade</td>                        
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-info">Nenhuma consulta encontrada.</div>
    }

    <button class="btn btn-outline-primary mt-3" @onclick="Voltar">
        <i class="bi bi-arrow-left"></i> Voltar
    </button>
</div>

@code {
    public string NomeDoPaciente { get; set; } = "";
    private IList<ConsultaPacienteModel> consultas;

    protected override async Task OnInitializedAsync()
    {
        var claims = await UsuarioLogadoService.ObterTodasAsClaimsAsync();
        var tokens = claims["unique_name"].Split(" ");
        NomeDoPaciente = $"{tokens[0]} {tokens[^1]}";

        var id = claims["nameid"];

        consultas = await ConsultaService.ObterConsultasFuturasDoPaciente(Convert.ToInt32(id));


    }

    private void Voltar()
    {
        Navigation.NavigateTo("/");
    }
}
